*{
    font-family: Roboto;
}

.navArea {
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
    height: 100vh;
    margin-right: 45px;
}

.link {
    display: flex;
    color: black;
    margin: 15px 0px !important;
    justify-content: center;
    text-decoration: none;
    padding: 15px !important;
}
.icon{
    width: 50px !important;
    height: auto !important;
}

.active{
    background-color: #EBF2FF;
    margin-left: auto;
}
.activeBar{
    position: absolute;
    left: 0px;
    margin-right: 15px !important;
    background-color: #0060ff;
    height: 50px;
    width: 5px;
}
.flexLink{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expanded .link{
    width: 10ch;
}

.navContainer{
    float:left;
}